/* index */



header{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}




h1{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}


h2{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}


footer{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}